<template>
  <div id="app">
    <img src="./assets/logo.png">
    <h1></h1>
    <h2>{{msg}}</h2>
    <ul>
      <li>
        <router-link to="/home">Inicio</router-link>
      </li>
      <li>
       <router-link to="/restaurants">Restaurantes</router-link>
      </li>
      <li>
        <router-link :to="{name:'topRestaurants', params:{id:8326}}">Restaurantes Destacados</router-link>
      </li>
      <li>
        <router-link to="/contacts">Contacto</router-link>
      </li>
    </ul>
  
    <router-view></router-view>
  
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      msg: 'RestaurantApp'
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
