<template>
<h2>{{mensaje}}</h2>  
</template>

<script>
export default {
  name:'home',
  data(){
      return{
          mensaje: 'Solucion para los Restaurantes de Santiago'
      }
  }
}
</script>



