<template>
  <h2>{{textoTopRestaurants}}: {{id_restaurant}}</h2>
</template>


<script>
export default {
  name:'restaurantsTop',
  mounted(){
    this.id_restaurant = this.$route.params.id;
  },
  data(){
    return{
        textoTopRestaurants: 'Restaurantes Destacados',
        id_restaurant: null
    }
    
  }
}
</script>
