<template>
    <div>
        <ul id="rest-list" v-if="restaurants != null">
            <li v-for="restaurant in  restaurants">
                <strong>{{restaurant.name}}</strong>
                <p>
                    <router-link :to="{name:'restaurant', params:{id:restaurant.id}}">Ver</router-link>
                </p>
                <p>
                     <router-link :to="{name:'editRestaurant', params:{id:restaurant.id}}">Editar Restaurante</router-link>
                </p>
            </li>
        </ul>
        <span v-else>No hay elementos para mostrar</span>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name: 'restaurante',
    mounted() {
        this.getRestaurants();
    },
    data() {
        return {
            texto: 'Pagina de Restaurantes',
            restaurants: null
        }

    },
    methods: {
        getRestaurants() {
            axios.get('http://localhost:8089/restaurantsList')
                .then((respuesta) => {
                    this.restaurants = respuesta.data;
                });
        }
    }
}
</script>


<style lang="scss">
#rest-list {
    padding: 5px;
    li {
        margin-top: 10px;
        width: 30%;
        height: 120px;
        border: 1px solid #ddd;
        background: #eee;
        padding: 20px;
        overflow: hidden;
    }
}
</style>
