<template>
    <h1>
        Detalle Restaurante</h1>
</template>

<script>
import axios from 'axios';
export default {
    name: 'restaurant-details',
    mounted() {
        this.getRestaurant();
    },
    data() {
        return {
            id: null,
            restaurant: null
        }
    },
    methods: {
        getRestaurant() {
            this.id = this.$route.params.id;
            axios.get('http://localhost:8089/getRestaurant/' + this.id).then((response) => {
                this.restaurant = response.data;
            });

        }
    }
}
</script>
